<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/public-react/assets/index-677ff19b.css" />
    <title>Document</title>
  </head>
  <body>
    <img class="image" src="<%= movie.image %>" alt="<%= movie.title %>" />
    <h2>Title: <%= movie.title %></h2>
    <p>Genre: <%= movie.genre %></p>
    <p>Categorie: <%= movie.categorie %></p>
    <p>Year: <%= movie.year %></p>
  </body>
</html>
